.article-image1{
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url(https://media.istockphoto.com/photos/shot-of-a-squad-of-soldiers-running-forward-and-atacking-enemy-during-picture-id814367472?k=6&m=814367472&s=612x612&w=0&h=bXFRgEqu8mHSy7fMv8uRVbjfYJKRAR24PRfUF09zrmk=);
}
.article-image2{

    background-repeat: no-repeat;
    background-image: url(https://media.gettyimages.com/photos/lion-in-high-grass-picture-id494856046?s=612x612);
}

.article-image3{

    background-repeat: no-repeat;
    background-image: url(https://asset.barrons.com/public/resources/images/ON-CB801_chip_B620_20170405183838.jpg)
}

.gb-primary.btn {
    border-width: 1px;
    border-color: rgba(104, 112, 226, .09);
    background-color: rgba(65, 118, 180);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
        , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.gb-primary.btn:active {
    border-width: 2px;
    border-color: rgba(1, 1, 1, .09);
    background-color: rgba(104, 112, 226, 0.09);
}

.gb-primary.card {
    background-color: rgba(1, 1, 1, .09);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
        , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}

.gb-primary.jumbotron {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
        , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}

.gb-primary.jumbotron > * {
    background: -webkit-linear-gradient(-60deg
        , lightblue, rgb(147, 183, 196), black, black, black, black, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(-60deg
        , lightblue, rgb(147, 183, 196), black, black, black, black, black);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@media screen and (min-width: 1200px) {
    .gb-primary.jumbotron  {
        text-align: center;
    }

    .gb-primary.jumbotron > * {
        background: -webkit-linear-gradient(-88deg
            , lightblue, black, black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background: -moz-linear-gradient(-88deg
            , lightblue, black, black);
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
} 

.gb-primary.navbar-toggler {
    border-width: 1px;
    border-color: rgba(104, 112, 226, .09);
    background-color: rgba(1, 1, 1, .09);
    
}

.gb-primary.navbar-toggler:active {
    border-width: 2px;
    border-color: rgba(104, 112, 226, .09);
    background-color: rgba(104, 112, 226, 0.09);
}

.gb-primary.navbar-toggler:focus {
    border: 2px solid rgba(104, 112, 226, .13);
    background-color: rgba(104, 112, 226, 0.09);
}

nav{
    color: white;
    background-color: rgb(47, 118, 185);
    
}


.navbar-light .navbar-nav .nav-link{
    color: white;

}
.navbar-nav li> a:hover{

    color: lightskyblue !important;
}

.bg-carousel{
    background-color:  rgb(38, 98, 152);
  
  }

footer{
    color: white;
    background-color: rgb(47, 118, 185);
    padding: 10px 0px 2.5px 0px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;

}

footer a{
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: lightskyblue;
}
.btn-color{

    background-color: rgb(65,118,180);
 }
 div p > a:hover{
     background-color: lightskyblue !important;
 }
